@font-face {
	font-family: "jetbrainsMono";
	src: url(resources/JetBrainsMono-Light.ttf);
	font-display: swap;
}

body {
	background: url(resources/spacebackground.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.box {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 20px;
}

.captionbox {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 10px;
}